<header>
  <img class="logo" src="/assets/shared/logo.svg" />
  <nav class="desktop__nav">
    <hr class="line" />
    <a class="link" [routerLink]="'home'" routerLinkActive="active">
      <div class="space__con">
        <b>00</b>
        <span>HOME</span>
      </div>
    </a>
    <a class="link" [routerLink]="'destination'" routerLinkActive="active">
      <div class="space__con">
        <b>01</b>
        <span>DESTINATION</span>
      </div></a
    >
    <a class="link" [routerLink]="'crew'" routerLinkActive="active">
      <div class="space__con">
        <b>02</b>
        <span>CREW</span>
      </div></a
    >
    <a class="link" [routerLink]="'technology'" routerLinkActive="active">
      <div class="space__con">
        <b>03</b>
        <span>TECHNOLOGY</span>
      </div></a
    >
  </nav>

  <nav class="responsiv__nav">
    <img
      (click)="open()"
      class="responsiv-img"
      src="/assets/shared/icon-hamburger.svg"
    />
  </nav>

  <div class="responsiv__con" [ngClass]="{ active: openDropDown }">
    <img
      class="close-img"
      (click)="close()"
      src="/assets/shared/icon-close.svg"
    />
    <nav>
      <a class="link" [routerLink]="'home'" (click)="close()">
        <div class="space__con">
          <b>00</b>
          <span>HOME</span>
        </div>
      </a>
      <a class="link" [routerLink]="'destination'" (click)="close()">
        <div class="space__con">
          <b>01</b>
          <span>DESTINATION</span>
        </div>
      </a>
      <a class="link" [routerLink]="'crew'" (click)="close()">
        <div class="space__con">
          <b>02</b>
          <span>CREW</span>
        </div>
      </a>
      <a class="link" [routerLink]="'technology'" (click)="close()">
        <div class="space__con">
          <b>03</b>
          <span>TECHNOLOGY</span>
        </div>
      </a>
    </nav>
  </div>
</header>
