section {
  margin: 0;
  display: flex;
  width: 100%;
  height: 100vh;
  overflow-y: hidden;
  position: relative;
  display: flex;
  justify-content: space-between;
  color: #fff;
  overflow-x: none;
}

.background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  min-height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  z-index: -1;
}

.section__below {
  display: flex;
  margin-top: 200px;
  margin-left: 200px;
  justify-content: space-around;
  width: 100%;
}

.left__side {
  display: flex;
  flex-direction: column;
  gap: 15px;
  width: 695px;
}

h3 {
  font-size: 28px;
  font-family: Barlow;
  letter-spacing: 4.72px;
  line-height: auto;
  font-weight: 400;
  margin-bottom: 150px;
}

h2 {
  margin: 0;
}

.job__title {
  font-size: 32px;
  line-height: auto;
  color: #8f95b6;
  font-weight: 400;
}

.name {
  font-size: 56px;
  font-family: Bellefair;
  margin: 0;
}

.description {
  display: block;
  font-size: 18px;
  line-height: 32px;
  color: #d0d6f9;
  width: 444px;
  height: 160px;
}

.dot__con {
  display: flex;
  gap: 20px;
  margin-top: 100px;
}

.dot {
  background-color: #383b4b;
  border-radius: 100%;
  height: 15px;
  width: 15px;
}
.dot:hover {
  background-color: white;
  cursor: pointer;
}

.active {
  background-color: white;
}

.right__side {
  display: flex;
}
.right__side img {
  -o-object-fit: contain;
     object-fit: contain;
  width: -moz-fit-content;
  width: fit-content;
  height: 700px;
  align-self: self-end;
}

.animation {
  animation: slide-in 0.5s ease forwards;
}

hr {
  display: none;
}

.responsiv {
  display: none;
}

@keyframes slide-in {
  from {
    transform: translateX(-100%);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}
@media (max-width: 1550px) {
  .section__below {
    margin-left: 50px;
  }
  .left__side {
    width: 500px;
  }
  .right__side img {
    height: 580px;
  }
}
@media (max-width: 1000px) {
  .right__side img {
    height: 500px;
  }
}
@media (max-width: 900px) {
  .section__below {
    flex-direction: column;
    height: 100%;
    margin: 0;
    margin-top: 125px;
  }
  h2 {
    text-align: center;
  }
  .title {
    left: 23px;
    margin-left: 25px;
    position: absolute;
    top: 157px;
  }
  .left__side {
    justify-content: center;
    align-items: center;
    width: 100%;
  }
  .right__side {
    width: 100%;
    justify-content: center;
    align-items: center;
  }
  .right__side img {
    height: 555px;
  }
  h3 {
    margin: 0;
    font-size: 20px;
    letter-spacing: 3.38px;
  }
  .job__title {
    font-size: 24px;
  }
  .name {
    font-size: 40px;
  }
  .description {
    font-size: 16px;
    line-height: 28px;
    text-align: center;
    height: 100px;
  }
  .dot__con {
    gap: 10px;
    margin-top: 5px;
  }
  .dot {
    width: 10px;
    height: 10px;
  }
  h3 {
    margin-left: 55px;
  }
}
@media (max-width: 500px) {
  .section__below {
    flex-direction: column-reverse;
    justify-content: start;
  }
  .left__side {
    margin-top: 10px;
  }
  .right__side {
    flex-direction: column;
    margin-top: 25px;
  }
  .right__side img {
    height: 222px;
    width: 177px;
    align-self: center;
  }
  .right__side hr {
    display: block;
    width: 90%;
    border: 1px solid #383b4b;
    margin: 0;
  }
  h3 {
    font-size: 20px;
    letter-spacing: 3.38px;
  }
  .job__title {
    font-size: 16px;
    letter-spacing: auto;
  }
  .name {
    font-size: 26px;
  }
  .description {
    font-size: 15px;
    width: 327px;
  }
  .responsiv {
    display: flex !important;
  }
  .absolute {
    position: absolute;
    top: 100px;
    left: 30px;
    gap: 10px;
  }
  .title {
    display: none;
  }
  .dot__con {
    display: none;
  }
}/*# sourceMappingURL=crew.component.css.map */