<section>
  <img
    src="/assets/destination/background-destination-desktop.jpg"
    srcset="
      /assets/destination/background-destination-desktop.jpg,
      /assets/destination/background-destination-mobile.jpg  320w,
      /assets/destination/background-destination-tablet.jpg  900w
    "
    class="background"
  />
  <div class="section__below">
    <div class="left__side">
      <h3>01 PICK YOUR DESTINATION</h3>
      <img class="celestail__img" src="assets/destination/image-moon.png" />
    </div>
    <div class="right__side">
      <nav class="destination__nav">
        <a>MOON</a>
        <a>MARS</a>
        <a>EUROPA</a>
        <a>TITAN</a>
      </nav>
      <!-- modify -->
      <h1>MOON</h1>
      <span class="description">
        See our planet as you’ve never seen it before. A perfect relaxing trip
        away to help regain perspective and come back refreshed. While you’re
        there, take in some history by visiting the Luna 2 and Apollo 11 landing
        sites.
      </span>
      <hr />
      <div class="distance__con">
        <div class="distance__left__side">
          <h4>AVG. DISTANCE</h4>
          <span>384,400 KM</span>
        </div>
        <div class="distance__right__side">
          <h4>EST. TRAVEL TIME</h4>
          <span>3 DAYS</span>
          <!--  -->
        </div>
      </div>
    </div>
  </div>
</section>
