<section>
  <img
    src="/assets/destination/background-destination-desktop.jpg"
    srcset="
      /assets/destination/background-destination-desktop.jpg,
      /assets/destination/background-destination-mobile.jpg  320w,
      /assets/destination/background-destination-tablet.jpg  900w
    "
    class="background"
  />
  <div class="section__below" *ngIf="selectedObject">
    <div class="left__side">
      <h3><b style="color: gray">01 </b>PICK YOUR DESTINATION</h3>
      <img
        class="celestail__img"
        [src]="selectedObject.img"
        (animationend)="onAnimationEnd()"
        [ngClass]="{ animation: animate }"
      />
    </div>
    <div class="right__side">
      <nav class="destination__nav">
        <a
          *ngFor="let object of objects"
          (click)="setObject(object)"
          class="link"
          [ngClass]="{ active: object === selectedObject }"
        >
          <div class="space__con">
            <span>{{ object.name }}</span>
          </div></a
        >
      </nav>
      <h1>{{ selectedObject.name }}</h1>
      <span class="description">
        {{ selectedObject.description }}
      </span>
      <hr />
      <div class="distance__con">
        <div class="distance__left__side">
          <h4>AVG. DISTANCE</h4>
          <span> {{ selectedObject.travelDistance }}</span>
        </div>
        <div class="distance__right__side">
          <h4>EST. TRAVEL TIME</h4>
          <span>{{ selectedObject.travelTime }}</span>
        </div>
      </div>
    </div>
  </div>
</section>
