.absolute {
    position: absolute;
    top: 0px;
    left: 0px;
    z-index: 1;
    width: calc(100%);
    display: flex;
    justify-content: space-between;
}

@media (max-width: 900px) {
    .absolute {
    }
}
