:root {
    --dark: #0b0d17;
    --middle: #d0d6f9;
    --light: #ffff;
    --header_height: 94px;
}

body {
    margin: 0;
    height: 100%;
    width: 100%;
    background-color: var(--dark);
}

// For Button Explore
@font-face {
    font-family: "cyanRegular";
    src: url("assets/fonts/Cyan Regular.ttf");
}

// Heading 1- Bellefair Regular -150px for Heading 1 to 4

@font-face {
    font-family: Bellefair;
    src: url("assets/fonts/Bellefair-Regular.ttf");
}

@font-face {
    font-family: Barlow;
    src: url("assets/fonts/BarlowCondensed-Regular.ttf");
}

.slider-image {
    display: none; /* Initially hide the image */
}

.slider-image.loaded {
    display: block; /* Show the image once it's loaded */
}
