<section>
  <img
    srcset="
      /assets/home/background-home-desktop.jpg,
      /assets/home/background-home-mobile.jpg  320w,
      /assets/home/background-home-tablet.jpg  900w
    "
    src="/assets/home/background-home-desktop.jpg"
    alt="Your Image"
    class="background"
  />
  <div class="section__below">
    <div class="text__con">
      <h2>SO, YOU WANT TO TRAVEL TO</h2>
      <h1>SPACE</h1>
      <span>
        Let´s face it; if you want to go to space, you might as well genuinely
        go to outer space and not hover kind of on the edge of it. Well sit
        back, and relax because we`ll giye you a truly out of this world
        experience!
      </span>
    </div>

    <div class="button__con">
      <button (click)="navigate()">EXPLORE</button>
    </div>
  </div>
</section>
